@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

html, body {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100%;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

*:before, *:after {
  box-sizing: border-box;
}
